<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="The responsive professional Divine Infoverse template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
    <meta name="keywords"
        content="practo clone, Divine Infoverse, doctor appointment, Practo clone html template, doctor booking template">
    <meta name="author" content="Practo Clone HTML Template - Doctor Booking Template">
    <meta property="og:url" content="https://Divine Infoverse.dreamstechnologies.com/html/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Doctors Appointment HTML Website Templates | Divine Infoverse">
    <meta property="og:description"
        content="The responsive professional Divine Infoverse template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
    <meta property="og:image" content="backend-assets/img/preview-banner.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="https://Divine Infoverse.dreamstechnologies.com/html/">
    <meta property="twitter:url" content="https://Divine Infoverse.dreamstechnologies.com/html/">
    <meta name="twitter:title" content="Doctors Appointment HTML Website Templates | Divine Infoverse">
    <meta name="twitter:description"
        content="The responsive professional Divine Infoverse template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
    <meta name="twitter:image" content="backend-assets/img/preview-banner.jpg">
    <title>ERP - Divyashakti Enterprise</title>

    <link rel="shortcut icon" type="image/x-icon" href="/backend-assets/img/logo/favicon.png">

    <link rel="stylesheet" href="/backend-assets/css/bootstrap.min.css">


    <link rel="stylesheet" href="/backend-assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/backend-assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/backend-assets/css/feathericon.min.css">
    <link rel="stylesheet" href="/backend-assets/plugins/morris/morris.css">

    <link rel="stylesheet" href="/backend-assets/css/custom.css">
</head>

<body>

    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <a href="/index.html" class="logo">
                    <img src="/backend-assets/img/logo/logo-divyashakti.png" alt="Logo">
                </a>
                <a href="/index.html" class="logo logo-small">
                    <img src="/backend-assets/img/logo/logo-divyashakti.png" alt="Logo" height="50">
                </a>
            </div>

            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fe fe-text-align-left"></i>
            </a>
            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="Search here">
                    <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>

            <a class="mobile_btn" id="mobile_btn">
                <i class="fa fa-bars"></i>
            </a>


            <ul class="nav user-menu">

                <li class="nav-item dropdown noti-dropdown">
                    <a href="add-district-dealer.html" >
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </li>


                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" role="button"
                        aria-expanded="false">
                        <span class="user-img"><img class="rounded-circle" src="/backend-assets/img/profiles/avatar-01.jpg"
                                width="45" alt="Ryan Taylor"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="/backend-assets/img/profiles/avatar-01.jpg" alt="User Image"
                                    class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>Dr. Jhon Doe</h6>
                                <p class="text-muted mb-0">State Dealer</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="/profile.html">My Profile</a>
                        <!-- <a class="dropdown-item" href="settings.html">Settings</a> -->
                        <a class="dropdown-item" href="/auth/login.html">Logout</a>
                    </div>
                </li>

            </ul>

        </div>

        <!-- navbar comes from navbar.js file -->
        <div id="navbar-container"></div>

    

        <div class="page-wrapper">
            <div class="content container-fluid">


                <div class="row">
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="dash-widget-icon">
                                        <i class="fa fa-users  "></i>
                                    </span>
                                    <div class="dash-count">
                                        <h3>168</h3>
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6 class="text-muted">Total Customer</h6>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar  w-50"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="dash-widget-icon ">
                                        <i class="fa fa-boxes "></i>
                                    </span>
                                    <div class="dash-count">
                                        <h3>487</h3>
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6 class="text-muted">Total Stock</h6>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar  w-50"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="dash-widget-icon ">
                                        <i class="fa fa-shopping-cart"></i>
                                    </span>
                                    <div class="dash-count">
                                        <h3>485</h3>
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6 class="text-muted">Total Order</h6>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar w-50"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="dash-widget-icon ">
                                        <i class="fa fa-dollar-sign"></i>
                                    </span>
                                    <div class="dash-count">
                                        <h3>62523</h3>
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6 class="text-muted">Total Profit</h6>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar  w-50"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 d-flex">
                        
                        <div class="card card-table flex-fill">
                            <div class="card-header">
                                <h4 class="card-title">Manage District Dealers List</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive" style="max-height: 420px; overflow-y: auto;">
                                    <table class="table table-hover table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Photo</th>
                                                <th>Dob</th>
                                                <th>Address</th>
                                                <th>Gender</th>
                                                <th>User-Type</th>
                                                <th>Firm Address</th>
                                                <th>Firm Phone</th>
                                                <th>Firm Email</th>
                                                <th>Firm Name</th>
                                                <th>Firm GST No.</th>
                                                <th>Total Revenue</th>
                                                <th>Total Profit</th>
                                                <th>Firm Photo</th>
                                                <th>Whose Dealer</th>
                                                <th>Firm Pincode </th>
                                                <th>Firm District</th>
                                                <th>Firm Zone</th>
                                                <th>Firm State</th>
                                                <th>Firm Country</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href="/profile.html">Dr. Ruby Perrin</a>
                                                    </h2>
                                                </td>
                                                <td>ruby@gmail.com</td>
                                                <td>12345 45675</td>
                                                <td><a href="/profile.html" class="avatar avatar-sm me-2"><img
                                                            class="avatar-img rounded-circle"
                                                            src="/backend-assets/img/doctors/doctor-thumb-01.jpg"
                                                            alt="User Image"></a></td>
                                                <td>12-12-2000</td>
                                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis,
                                                    nobis.</td>
                                                <td>Male</td>
                                                <td>Admin</td>
                                                <td>Lorem ipsum dolor sit amet consectetur.</td>
                                                <td>1231231231</td>
                                                <td>contact@divyashakti.com</td>
                                                <td>Divyashakti Enterprise</td>
                                                <td>123123</td>
                                                <td>500000</td>
                                                <td>50000</td>
                                                <td><a href="/profile.html" class="avatar avatar-sm me-2"><img
                                                    class="avatar-img rounded-circle"
                                                    src="/backend-assets/img/doctors/doctor-thumb-01.jpg"
                                                    alt="User Image"></a></td>
                                                <td>Divyashakti</td>
                                                <td>382010</td>
                                                <td>Gandhinagar</td>
                                                <td>Gandhinagar</td>
                                                <td>Gujarat</td>
                                                <td>India</td>
                                                <td><a href="edit-district-dealer.html"><i class="fa fa-edit"></i></a><a href="javascript:void(0)"><i class="fa fa-trash"></i></a></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        
    </div>
    
    <div class="footer">
        © 2024 DIVYASHAKTI ENTERPRISE, Inc. All rights reserved. Powered By <a href="https://www.divineinfoverse.com" target="_blank"> DIVINE INFOVERSE</a>
    </div>

    <script src="/backend-assets/js/jquery-3.7.1.min.js" type="1e8e4c23584c3657211db4d2-text/javascript"></script>

    <script src="/backend-assets/js/bootstrap.bundle.min.js" type="1e8e4c23584c3657211db4d2-text/javascript"></script>

    <script src="/backend-assets/plugins/slimscroll/jquery.slimscroll.min.js"
        type="1e8e4c23584c3657211db4d2-text/javascript"></script>
    <script src="/backend-assets/plugins/raphael/raphael.min.js" type="1e8e4c23584c3657211db4d2-text/javascript"></script>
    <script src="/backend-assets/plugins/morris/morris.min.js" type="1e8e4c23584c3657211db4d2-text/javascript"></script>
    <script src="/backend-assets/js/chart.morris.js" type="1e8e4c23584c3657211db4d2-text/javascript"></script>

    <script src="/backend-assets/js/script.js" type="1e8e4c23584c3657211db4d2-text/javascript"></script>
    <script src="/backend-assets/js/navbar.js"></script>
    <script src="/backend-assets/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="1e8e4c23584c3657211db4d2-|49" defer=""></script>

</body>

</html>